:root {
  width: 500px !important;
  height: 300px !important;
  background-color: #000;
  color: #fff;
  font-family: 'Inter';
}

body{
  padding: 0;
  margin: 0;
}

h1{
  font-size: 2rem;
  margin: 0;
}